.btn {
  width: 100px;
  height: 100px;
  border: none;
  background: transparent;
  padding: 0px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  outline: auto;
}

.background {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: slateblue;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  will-change: transform;
  transition: transform 450ms;
}

.btn:hover .background {
  transition: transform 1125ms;
  transform: translateY(-10px) rotate(180deg);
}

.box,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box81 {
  width: 100px;
  height: 100px;
  background: slateblue;
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
  display: grid;
  place-content: center;
  color: white;
  text-align: center;
}

@keyframes slide-in {
  0% {
    transform: translateX(-40%);
  }

  50% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(-40%);
  }
}

@keyframes drop-in {
  from {
    transform: rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform: rotate(0deg) translateY(0%);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fancy-spin {
  0%,
  100% {
    transform: rotate(0turn) scale(1);
  }

  25% {
    transform: rotate(1turn) scale(1);
  }

  50% {
    transform: rotate(1turn) scale(1.5);
  }

  75% {
    transform: rotate(0turn) scale(1.5);
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(200px);
  }
}

@keyframes slide-in-2 {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(-100px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(var(--bounce-offset) * -1));
  }
}

/* .box {
  animation: drop-in 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.box2 {
  border-radius: 20%;
  animation: spin 2s linear;
  animation-iteration-count: infinite;
}

.box3 {
  animation: fancy-spin 2.5s ease-in-out;
  animation-iteration-count: infinite;
} */

/* .box4 {
  animation: breathe 1.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.box5 {
  animation: fade 1.5s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.box6 {
  animation: slide 1.5s linear;
  animation-iteration-count: infinite;
} */

/* .box7 {
  animation: slide-in-2 1.5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-delay: 500ms;
} */

.box8,
.box81 {
  animation: bounce 0.3s cubic-bezier(0.2, 0.65, 0.6, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 500ms;
  border-radius: 50%;
  --bounce-offset: 20px;
}

.box81 {
  --bounce-offset: 40px;
  animation-duration: 400ms;
}
