* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
}

body {
  padding: 2rem;
  height: 150vh;
  display: flex;
}

.wrapper {
  max-width: 1000px;
  height: 750px;
  margin: auto;
  border: 1px black solid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid__item {
  overflow: hidden;
  position: relative;
  width: 250px;
  height: 250px;
  border: 1px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
